    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Никита & Ариадна</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
    <main>
        {% block content %}{% endblock %}
    </main>
        {% block cript %}{% endblock %}
    </body>
    </html>